###
### monerod: runtime settings
###

# Should we publish hidden services on Tor and I2P?
# If you set these values to `false` you should also edit compose.yaml and
# change `services.monerod.depends_on.[tor|i2pd].required` to `false`.
#
# You can selectively run processes with a command like
#   docker compose up --build --detach tor monerod
#
MONEROD_USE_TOR=true
MONEROD_USE_I2P=true

# If you are running a hidden service (Tor, I2P) node, you want to enable
# transaction padding to prevent traffic volume analysis.
# Otherwise, if you disabled both MONEROD_USE_TOR and MONEROD_USE_I2P above,
# you can safely disable this value.
#
MONEROD_PAD_TRANSACTIONS=true

# The directory on the host machine in which blockchain data will be saved.
# If you are using a HDD instead of an SSD performance will not be great.
# If you are using an HDD **AND** the folder is on the same partition as
# your system mount, performance of your system may be degraded.
#
BLOCKCHAIN_DIR=./blockchain

# Pruning saves 2/3 of disk space w/o degrading functionality.
# For maximum effect this should be used already **on the first run**.
#
# The drawback is that you will contribute less to Monero P2P network in terms
# of helping new nodes to sync up (up to 1/8 of normal contribution).
#
# You will still be useful regarding relaying new transactions and blocks.
#
# The current blockchain sizes (as of 2025-07-14) are:
#   - Full node: 230 GiB
#   - Pruned node: 95 GiB
#
# See https://docs.getmonero.org/running-node/monerod-systemd/#assumptions
#
MONEROD_PRUNE_BLOCKCHAIN=false

# Monero docs recommend a minimum of 4GB of RAM for public nodes.
#
# The compose file is configured to reserve this much RAM at startup, so you
# shouldn't(TM) run into system memory usage errors.
#
MONEROD_MEMORY_LIMIT=4gb

# Set DNS resolver for proper resolution of DNSSEC entries.
#
# This is required for features like check-updates, enforce-dns-checkpointing,
# and enable-dns-blocklist to work.
#
# See https://github.com/monero-project/monero/issues/8452#issuecomment-1196066179
#
# I don't like using Cloudflare DNS any more than the next person but
# all my usual choices (LibreOps radicalDNS, OpenNIC) didn't work.
#
# Google DNS (8.8.8.8) also works for this purpose.
#
# If you don't care about these features, change this line to:
#   DNS_PUBLIC=
#
DNS_PUBLIC=tcp://1.1.1.1

# Ports to publish on the host machine for accessing the node.
# These affect the settings under services.monerod.ports in compose.yaml.
#
# See https://docs.getmonero.org/infrastructure/networks/#mainnet
#
P2P_PORT=18080              # Published globally (to 0.0.0.0)
RESTRICTED_RPC_PORT=18089   # Published globally
UNRESTRICTED_RPC_PORT=18083 # Published to 127.0.0.1

# Should we download a copy of a banlist of bad peers when the node starts up?
#
MONEROD_UPDATE_BANLIST=true

# Where should we download our banlist from?
# The default value is the one recommended by https://monero.fail/opsec
# Other options include:
#   - https://gui.xmr.pm/files/block.txt
#
MONEROD_BANLIST_URL=https://raw.githubusercontent.com/Boog900/monero-ban-list/main/ban_list.txt

# Should we also use the blocklist centrally managed by Monero contributors?
# This requires DNS_PUBLIC be set to a resolver that supports DNSSEC
#
MONEROD_USE_DNS_BLOCKLIST=true

# How much granular detail do we want out of monerod logs?
# The default value of 0 logs quite a lot of crap. Higher numbers only increase
# the detail of output.
#
# Acceptable values are 0-4
#
MONEROD_LOG_LEVEL=0


### monerod: build time settings ###

# Which version of Monero should we build when `docker compose build` is run?
# See https://github.com/monero-project/monero/releases/latest to check
# the latest version.
# NB: If you update this value, you will need to rebuild the monerod image with
#     `docker compose down monerod && docker compose up --build --detach monerod`
#
MONEROD_VERSION=v0.18.4.3

# How many CPU threads should we use for `docker compose build`?
# Run `nproc --all` on the host machine to find the maximum value.
# Higher number = more CPU usage on build = faster builds.
#
MAKE_THREADS=2


###
### i2pd: runtime settings
###

# I **think** we need to publish a port for i2pd to properly connect to the i2p
# network. Usual PurpleI2P behavior randomizes this port each startup and
# punches a hole using UPnP, but we shouldn't (can't?) do that with Docker.
# I just picked a random value and hardcoded it. Good luck!
#
I2P_LISTEN_PORT=58618 # Published globally (to 0.0.0.0)
